* {
    padding: 0;
    margin: 0;
}

html {
    font-family: 'PT Serif', serif;
}

body {
    overflow-x: hidden;
}

.first-page {
    position: absolute;
    left: 15%;
    width: 85%;
    height: 100%;
    top: 0%;
}

/*
.background-box {
    margin-left: 15vw;
    width: 85vw;
    height: 100vh;
}
*/
.background-image {
    position: relative;
    width: 110%;
    filter: blur(10px);
    top: -5%;
    left: -5%;
}

.welcome {
    padding: 15% 0% 5% 0%;
    position: inherit;
    left: 15%;
    top: 0%;
    width: 70%;
    height: 100%;
    background-color: #4A4963;
    font-family: 'PT Serif', serif;
    font-size: 5vw;
    text-align: center;
}

.short-info {

    text-align: center;
    z-index: 1;

}

.profile-image {

    width: 25%;
    height: 25%;
    left: 45%;
    z-index: 1;

}

.catchy-text {
    margin-top: 0%;
    margin-bottom: 0%;
    margin-left: 15%;
    top: 100%;
    left: 0%;
    width: 85%;
    position: absolute;
    background-color: #4A4963;
    font-family: 'PT Serif', serif;
    text-align: center;
}

.catchy-text-header {
    font-size: 2.5vw;
}

.catchy-text-text {
    font-size: 1.25vw;
}

.sidebar {
    height: 100%;
    width: 15vw;
    position: fixed;
    z-index: 1;
    top: 0%;
    left: 0%;
    background-color: #131248;
    overflow-x: hidden;
    padding-top: 20px;
}

/* The navigation menu links */

.sidebar-links {
    padding: 2.65% 5% 5% 5%;
    text-decoration: none;
    font-size: 20px;
    color: #ffffff;
    display: block;
}

/* When you mouse over the navigation links, change their color */

.sidebar-links:hover {
    color: #4A4963;
}

/* Slideshow container */

.slideshow-box {
    position: relative;
    top: 0%;
    margin-top: 100vh;
    margin-left: 30vw;
    width: 55%;
    height: 100vh;
    background-color: #ffffff;
}

.slideshow-image {
    margin-left: 0vw;
    width: 55vw;
    /*
    width: 80%;
    height: 100vh;
    margin-left: 10%;
    margin-right: 10%;
    object-fit: cover;*/
}

.slideshow-image:active {
    opacity: 0.8;
}

.hide-images {
    display: none;
}

/* Next & previous buttons */

.previous-image {
    position: absolute;
    cursor: pointer;
    margin-top: 100%;
    margin-left: 50%;
    width: auto;
    padding: 2% 2% 2% 2%;
    color: #000000;
    font-weight: bold;
    font-size: 18px;
    transition: 1s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next-image {
    position: absolute;
    cursor: pointer;
    margin-top: 100%;
    margin-right: 50%;
    width: auto;
    margin-top: -22px;
    padding: 2% 2% 2% 2%;
    color: #000000;
    font-weight: bold;
    font-size: 18px;
    transition: 1s ease;
    border-radius: 0 5px 5px 0;
    user-select: none;
}

/* Position the "next button" to the right */

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */

.prev:hover,
.next:hover {
    background-color: #3C972A;
}

/* Caption text */

.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */

.image-number {
    color: #000000;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #000000;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}

/* Fading animation */

.fade {
    /*-webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;*/
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}
